.landing-page {
  height: 100vh;
  width: 100%;
  position: relative;
  background: #f9f9f9;
}

.landing-page-img {
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
}
.landing-page-img img {
  width: 100%;
  height: 100%;
}

.landing-page-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 80%;
  margin: auto;
  height: 100%;
}

.landing-page-tagline {
  background: -webkit-linear-gradient(right, #f28d3e, #ee5e81);
  margin-right: 5px;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.landing-page-heading {
  font-size: 64px;
  line-height: 80px;
  width: 40%;
  font-weight: 700;
  color: #141627;
}

.landing-page-subheading {
  color: #999999;
  width: 40%;
}

.landing-page-CTA {
  margin-top: 3rem;
  background-color: #215be9;
  border-radius: 18px;
  width: fit-content;
}
.landing-page-CTA button {
  padding: 10px 14px;
  color: white;
  font-weight: 600;
  border: none;
  outline: none;
  background-color: transparent;
}
