.landing-page {
  height: 100vh;
  width: 100%;
  background-color: #0e1111;
  position: relative;
  overflow: hidden;
}

.land-section1 {
  height: 120vh;
  width: 120%;
  position: absolute;
  top: 100%;
  left: -70%;
  opacity: 0;
  transform-origin: bottom right;
  transform: rotate(10deg);
  background: rgb(14, 81, 119);
  background: linear-gradient(
    90deg,
    rgba(14, 81, 119, 1) 0%,
    rgba(17, 32, 51, 1) 17%,
    rgba(17, 24, 39, 1) 38%,
    rgba(28, 72, 92, 1) 68%,
    rgba(17, 24, 39, 1) 78%,
    rgba(17, 24, 39, 1) 90%
  );
  animation: animation 1s ease-in-out forwards;
}
.land-section2 {
  height: 100vh;
  width: 100%;
  position: absolute;
  top: 100%;
  left: 50%;
  opacity: 0;
  transform: rotate(-20deg);
  transform-origin: bottom left 100px;
  opacity: 1;
  background: rgb(14, 81, 119);
  background: linear-gradient(
    90deg,
    rgba(14, 81, 119, 1) 0%,
    rgba(17, 32, 51, 1) 17%,
    rgba(17, 24, 39, 1) 38%,
    rgba(28, 72, 92, 1) 68%,
    rgba(17, 24, 39, 1) 78%,
    rgba(17, 24, 39, 1) 90%
  );
  animation: anim 1s ease-in-out forwards;
}
.land-section3 {
  height: 120vh;
  width: 100%;
  position: absolute;
  top: 80%;
  left: 65%;
  opacity: 0;
  transform: rotate(-30deg);
  transform-origin: bottom left 100px;
  background: rgb(14, 81, 119);
  background: linear-gradient(
    90deg,
    rgba(14, 81, 119, 1) 0%,
    rgba(17, 32, 51, 1) 17%,
    rgba(17, 24, 39, 1) 38%,
    rgba(28, 72, 92, 1) 68%,
    rgba(17, 24, 39, 1) 78%,
    rgba(17, 24, 39, 1) 90%
  );
  animation: anima 1s ease-in-out forwards;
}
.landing-text {
  height: 100vh;
  width: 100%;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.land-title {
  width: 80%;
  font-size: 6rem;
  color: white;
  text-align: center;
}
.land-button {
  padding-top: 2rem;
  width: 200px;
}
.land-button button {
  padding: 0.8rem 4rem;
  font-size: 0.9rem;
  width: 230px;
  border: none;
  background-color: #00af7e;
  color: white;
  border-radius: 8px;
  cursor: pointer;
}
.land-button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}
.land-button span:after {
  content: "\00bb";
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.land-button:hover span {
  padding-right: 20px;
}

.land-button:hover span:after {
  opacity: 1;
  right: 0;
}

.signInPrompt {
  position: absolute;
  bottom: 5%;
  left: 2%;
  background: rgba(38, 38, 38, 0.498);
  padding: 1rem;
  border-radius: 12px;
  color: white;
}
@keyframes animation {
  to {
    border: 1px solid rgb(43, 105, 133);
    transform: rotate(20deg);
    opacity: 0.8;
  }
}
@keyframes anim {
  to {
    border: 2px solid rgb(43, 105, 133);
    transform: rotate(-30deg);
    opacity: 1;
  }
}
@keyframes anima {
  to {
    border: 1px solid rgb(43, 105, 133);
    opacity: .7;
    transform: rotate(-50deg);
  }
}
