.landing-page {
  height: 100vh;
  width: 100%;
  background-color: #0e1111;
  position: relative;
  overflow: hidden;
}

.land-section1 {
  height: 120vh;
  width: 120%;
  position: absolute;
  top: 100%;
  left: -70%;
  opacity: 0;
  transform-origin: bottom right;
  transform: rotate(10deg);
  background: rgb(11, 37, 40);
  background: linear-gradient(
    90deg,
    rgba(11, 37, 40, 0.4) 33%,
    rgba(7, 107, 88, 1) 74%,
    rgba(5, 130, 102, 1) 100%
  );
  animation: animation 1s ease-in-out forwards;
}
.land-section2 {
  height: 100vh;
  width: 100%;
  position: absolute;
  top: 100%;
  left: 50%;
  opacity: 0;
  transform: rotate(-20deg);
  transform-origin: bottom left 100px;
  opacity: 0;
  background: rgb(6, 115, 92);
  background: linear-gradient(
    90deg,
    rgba(6, 115, 92, 1) 6%,
    rgba(10, 55, 52, 1) 34%,
    rgba(11, 24, 30, 0.8) 50%,
    rgba(11, 24, 30, 0.2) 100%
  );
  animation: anim 1s ease-in-out forwards;
}
.land-section3 {
  height: 100vh;
  width: 100%;
  position: absolute;
  top: 100%;
  left: 45%;
  opacity: 0;
  transform: rotate(-30deg);
  transform-origin: bottom left 100px;
  background: rgb(6, 115, 92);
  background: linear-gradient(
    90deg,
    rgba(6, 115, 92, 1) 0%,
    rgba(10, 55, 52, 1) 28%,
    rgba(11, 24, 30, 0.6) 74%,
    rgba(11, 24, 30, 0) 100%
  );
  animation: anima 1s ease-in-out forwards;
}
.landing-text {
  height: 100vh;
  width: 100%;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.land-title {
  width: 80%;
  font-size: 6rem;
  color: white;
}
.land-button {
  padding-top: 2rem;
  width: 200px;
}
.land-button button {
  padding: 0.8rem 4rem;
  font-size: 0.9rem;
  width: 230px;
  border: none;
  background-color: #00af7e;
  color: white;
  border-radius: 8px;
  cursor: pointer;
}
.land-button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}
.land-button span:after {
  content: "\00bb";
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.land-button:hover span {
  padding-right: 20px;
}

.land-button:hover span:after {
  opacity: 1;
  right: 0;
}
@keyframes animation {
  to {
    /* top: 70%; */
    transform: rotate(20deg);
    opacity: 1;
  }
}
@keyframes anim {
  to {
    /* top: 20%; */
    transform: rotate(-30deg);
    opacity: 1;
  }
}
@keyframes anima {
  to {
    /* top: 28%; */
    opacity: 1;
    transform: rotate(-50deg);
  }
}
