.projectPageContainer {
  height: 90vh;
  overflow: scroll;
}

.projectPageBannerContainer {
  display: flex;
  color: #e2e1e1;
  padding: 1rem;
  align-items: center;
  & > img {
    height: 14px;
    width: 14px;
    object-fit: contain;
    filter: invert(1);
    margin-left: 5px;
  }
}

.splide__arrows,
.splide__pagination {
  display: none;
}

.slide_container {
  height: 30vh;
  width: calc(100% - 2rem);
  border-radius: 10px;
  margin: auto;
  .splide__track {
    height: 100%;
    border-radius: 10px;
  }
}
.projectBannerContainer {
  display: flex;
  align-items: center;
  margin-left: 3rem;
  margin-right: 5rem;
  height: 100%;
  justify-content: space-between;

  & > div:nth-of-type(1) {
    color: #ffffff;

    // heading
    & > div:nth-of-type(1) {
      font-weight: 600;
      font-size: 24px;
    }

    //subheading
    & > div:nth-of-type(2) {
      font-weight: 500;
      padding-bottom: 1rem;
      width: 60%;
    }

    //button
    & > div:nth-of-type(3) {
      & > button {
        outline: none;
        border-radius: 12px;
        border: none;
        padding: 6px 14px;
      }
    }
  }

  & > div:nth-of-type(2) {
    & > img {
      width: 150px;
      height: 150px;
      object-fit: contain;
    }
  }
}
.allProjectsContainer {
  padding: 1rem;
  margin: 0 1.5rem;
}
.emptyProjectAddButtonContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 20vh;
  justify-content: center;
  color: #e2e1e1;
  text-transform: uppercase;
}
.emptyProjectAddButton {
  display: flex;
  align-items: center;
  margin-top: 2rem;
  & > button {
    border: none;
    outline: none;
    padding: 0.3rem 0.8rem;
    border-radius: 10px;
    color: #121212;
    background-color: #26d9ed;
  }
}

.fetchingProjects {
  margin: 2rem 0;
  & .fetchingProjectsHeading {
    margin-bottom: 1rem !important;
    min-width: 10% !important;
    height: 18px !important;
    border-radius: 0.125rem !important;
  }
  & .allProjects {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 250px));
    gap: 2rem 1rem;
  }

  & .skeleton {
    width: 200px;
    height: 250px;
    border-radius: 24px;
    animation: skeleton-loading 1s linear infinite alternate;
  }
  & .skeletonContentContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    height: 100%;
    padding-bottom: 1rem;
  }
  & .skeletonContent {
    height: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
    text-transform: capitalize;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    border-radius: 12px;
    margin: 5px 0;
    animation: skeleton-content-loading 1s linear infinite alternate;
  }
}
.fetchedProjects {
  margin: 2rem 0;
  & .fetchedProjectsHeading {
    margin-bottom: 1rem !important;
    min-width: 10% !important;
    height: 18px !important;
    border-radius: 0.125rem !important;
    color: #e2e1e1;
  }
  & .allProjects {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 250px));
    gap: 2rem 1rem;
  }

  & .skeleton {
    cursor: pointer;
    width: 200px;
    height: 250px;
    border-radius: 24px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    position: relative;

    & > .skeletonImage {
      position: absolute;
      top: 0;
      left: 0;
      width: 90%;
      flex: 1;
      margin: 10px;
      height: 150px;
      & > img {
        height: 100%;
        width: 100%;
        object-fit: contain;
      }
    }
  }
  & .skeletonContentContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    padding-bottom: 10px;
    width: 100%;
  }
  & .skeletonContent {
    color: #505050;
    font-weight: 500;
    height: 5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    text-transform: capitalize;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    border-radius: 12px;
    margin: 5px 0;
    background: rgba(255, 255, 255, 0.23);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(6.8px);
    -webkit-backdrop-filter: blur(6.8px);
    animation: none;
    & > div {
      text-align: start;
      width: 90%;
    }
  }
  .skeletonTokensUsed {
    font-size: 12px;
    color: #505050;
  }
}

@keyframes skeleton-loading {
  0% {
    background: hsl(180, 2%, 10%);
  }
  100% {
    background: hsl(180, 2%, 15%);
  }
}
@keyframes skeleton-content-loading {
  0% {
    background: hsl(180, 2%, 21%);
  }
  100% {
    background: hsl(180, 2%, 17%);
  }
}
