$primary: #0e1425;

$secondary: #274c77;

$text-primary: #e7ecef;

$text-secondary: #8b8c89;

$primary-dark: #6096ba;

$primary-light: #6096ba;

$chat-page: #20232b;

$chat-page-background-secondary: #1b1b1b;

$chat-page-primary-color: #f6f6fe;

$chat-page-secondary-color: #868686;
