.PriceCard {
  min-height: 30vh;
  display: flex;
  flex-direction: column;
  width: 30%;
  margin: 0 3rem;
  padding: 2rem;
  border-radius: 30px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px,
    rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
  color: #170d42;
}
.paidCard {
  background: rgb(14, 81, 119);
  background: linear-gradient(
    0deg,
    rgba(14, 81, 119, 1) 0%,
    rgba(28, 72, 92, 1) 17%,
    rgba(17, 32, 51, 1) 38%,
    rgba(17, 24, 39, 1) 68%,

    rgba(17, 24, 39, 1) 78%,
    rgba(17, 24, 39, 1) 90%
  );
  color: white;
}

.nonPaidSubTitle-text {
  background: #f7f5fe;
  border-radius: 20px;
  font-weight: 500;
  width: fit-content;
  padding: 0.4rem 0.6rem;
  margin: 1rem 0;
  > div {
    background: -webkit-linear-gradient(left, #7049f6, #6bdffa);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}

.paidSubTitle-text {
  border-radius: 20px;
  font-weight: 500;
  width: fit-content;
  padding: 0.4rem 0.6rem;
  margin: 1rem 0;
  background: linear-gradient(to right, #7049f6, #6bdffa);
  > div {
    color: white;
  }
}
.subTitle-img {
  width: 50px;
  height: 50px;
  & img {
    height: 100%;
    width: 100%;
    object-fit: contain;
  }
}
.priceCard-price {
  margin-bottom: 14px;
  & > div:nth-of-type(1) {
    display: flex;
    align-items: baseline;
    > div:nth-of-type(1) {
      font-size: 2.5rem;
      font-weight: 700;
    }
    > div:nth-of-type(2) {
      color: #b6b9ce;
    }
  }
}

.priceCard-subheading {
  margin: 1rem 0;
}

.priceCard-features {
  flex: 1;
  & > div {
    display: flex;
    align-items: center;
    margin: 10px 0;
    & > img {
      margin-right: 10px;
      width: 30px;
      height: 30px;
      object-fit: contain;
    }
  }
}
.priceCard-Button {
  margin-top: 1rem;
  & > button {
    cursor: pointer;
    width: 100%;
    color: #6849f6;
    background-color: #f7f8fd;
    border-radius: 10px;
    outline: none;
    border: none;
    padding: 0.6rem 0.6rem;
  }
}
