.ExploreMore {
  height: 100vh;
  width: 100%;
  position: relative;
  overflow-y: hidden;
  background-color: black;
  & > :nth-of-type(1) {
    height: 100vh;
    width: 90%;
    margin: auto;
    & > :nth-of-type(1) {
      height: 60vh;
      width: 100%;
      display: flex;
      & > :nth-of-type(1) {
        width: 50%;
        min-height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        & > :nth-child(1) {
          min-height: 10rem;
          width: 100%;
          font-size: 3rem;
          color: white;
          & > span {
            background: -webkit-linear-gradient(left, #7049f6, #6bdffa);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
          }
        }
        & > :nth-child(2) {
          height: 5rem;
          font-size: 0.8rem;
          color: #999999;
        }
        & > :nth-child(3) {
          height: 2.5rem;
          width: 25%;
          color: white;
          font-weight: 600;
          border: none;
          outline: none;
          -webkit-box-shadow: 3px 3px 2px 1px rgb(0 0 0);
          -moz-box-shadow: 3px 3px 2px 1px rgb(0 0 0);
          box-shadow: 3px 3px 2px 1px rgb(0 0 0);
          background: -webkit-linear-gradient(left, #7049f6, #6bdffa);
          border-radius: 12px;
          &:hover {
            background: -webkit-linear-gradient(left, #4b1bec, #48cae8);
          }
        }
      }
      & > :nth-of-type(2) {
        width: 50%;
        height: 100%;
        display: flex;
        justify-content: flex-end;
        align-items: flex-end;
        & img {
          height: 25rem;
          width: 25rem;
          border-radius: 10px;
          -webkit-box-shadow: 6px 6px 6px 6px rgb(158, 158, 158);
          -moz-box-shadow: 3px 3px 2px 1px rgb(158, 158, 158);
          box-shadow: 6px 6px 6px 2px rgb(158, 158, 158);
        }
      }
    }
    & > :nth-child(2) {
      height: 38%;
      width: 100%;
      display: flex;

      & > :nth-child(1) {
        height: 100%;
        width: 50%;
        display: flex;
        align-items: center;

        & > :nth-child(1) {
          height: 70%;
          width: 80%;
          display: flex;

          & > :nth-child(1) {
            height: 100%;
            width: 15%;
            display: flex;
            justify-content: center;
            background-color: #1d5aff;
            border: 2px solid #06335a;
            padding-top: 2rem;
            border-radius: 15px 0px 0px 15px;
            & > :nth-child(1) {
              height: 2.5rem;
              width: 2.5rem;
              -webkit-box-shadow: 3px 3px 2px 1px rgb(0 0 0);
              -moz-box-shadow: 3px 3px 2px 1px rgb(0 0 0);
              box-shadow: 3px 3px 2px 1px rgb(0 0 0);
              border-radius: 50%;
              display: flex;
              justify-content: center;
              align-items: center;
              font-size: 1.2rem;
              background-color: #fff;
            }
          }
          & > :nth-child(2) {
            height: 100%;
            width: 15%;
            display: flex;
            justify-content: center;
            border: 2px solid #06335a;
            background-color: #597cf2;
            padding-top: 2rem;

            & > :nth-child(1) {
              height: 2.5rem;
              width: 2.5rem;
              border-radius: 50%;
              -webkit-box-shadow: 3px 3px 2px 1px rgb(0 0 0);
              -moz-box-shadow: 3px 3px 2px 1px rgb(0 0 0);
              box-shadow: 3px 3px 2px 1px rgb(0 0 0);
              display: flex;
              justify-content: center;
              align-items: center;
              font-size: 1.2rem;
              background-color: #fff;
            }
          }
          & > :nth-child(3) {
            height: 100%;
            width: 70%;
            border: 2px solid #06335a;
            background-color: #8fe3ff;
            padding-top: 2rem;
            display: flex;
            justify-content: space-evenly;
            border-radius: 0px 15px 15px 0px;
            & > :nth-child(1) {
              height: 2.5rem;
              width: 2.5rem;
              border-radius: 50%;
              -webkit-box-shadow: 3px 3px 2px 1px rgb(0 0 0);
              -moz-box-shadow: 3px 3px 2px 1px rgb(0 0 0);
              box-shadow: 3px 3px 2px 1px rgb(0 0 0);
              display: flex;
              justify-content: center;
              align-items: center;
              font-size: 1.2rem;
              background-color: #fff;
            }
            & > :nth-child(2) {
              width: 75%;
              height: 80%;
              font-size: 0.85rem;
              padding-top: .6rem;
            }
          }
        }
      }
      & > :nth-child(2) {
        height: 100%;
        width: 50%;
        display: flex;
        justify-content: center;
        align-items: flex-end;
        & > :nth-child(1) {
          height: 60%;
          width: 60%;
          border-radius: 10px;
          -webkit-box-shadow: 6px 6px 6px 6px rgb(158, 158, 158);
          -moz-box-shadow: 3px 3px 2px 1px rgb(158, 158, 158);
          box-shadow: 6px 6px 6px 2px rgb(158, 158, 158);
          & img {
            height: 100%;
            width: 100%;
            border-radius: 10px;
          }
        }
      }
    }
  }
}
.extra-img {
  position: absolute;
  content: "";
  top: 45%;
  left: 45%;
  height: 25%;
  width: 28%;
  border-radius: 10px;
  -webkit-box-shadow: 6px 6px 6px 6px rgb(158, 158, 158);
  -moz-box-shadow: 3px 3px 2px 1px rgb(158, 158, 158);
  box-shadow: 6px 6px 6px 2px rgb(158, 158, 158);

  & img {
    height: 100%;
    width: 100%;
    border-radius: 10px;
    // object-fit: contain;
  }
}
