.actAsContainer {
  height: 100vh;
  background: #20232b;
}

.actAsHeaderContainer {
  border-bottom: 2px solid black;
}

.actAsHeader {
  height: 10vh;
  width: 90%;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.actAsHeader > div {
  display: flex;
  align-items: center;
  justify-content: center;
}

.actAsHeaderLogo {
  width: 80px;
  height: 80px;
}
.actAsHeaderLogo img {
  width: 80px;
  height: 80px;
  -o-object-fit: contain;
     object-fit: contain;
}

.actAsHeaderContent {
  display: flex;
  color: #f6f6fe;
}
.actAsHeaderContent > div:nth-of-type(3) {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background: green;
  margin: 0 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.themeSwitcher {
  margin: 0 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background 0.2s linear;
}

.themeSwitcher.dark {
  background-color: #292c35;
}

.checkbox {
  opacity: 0;
  position: absolute;
}

.label {
  width: 30px;
  height: 15px;
  background-color: #111;
  display: flex;
  border-radius: 50px;
  align-items: center;
  justify-content: space-between;
  padding: 5px;
  position: relative;
  transform: scale(1.5);
}

.ball {
  width: 10px;
  height: 10px;
  background-color: white;
  position: absolute;
  top: 2px;
  left: 2px;
  border-radius: 50%;
  transition: transform 0.2s linear;
}

/*  target the elemenent after the label*/
.checkbox:checked + .label .ball {
  transform: translateX(16px);
}

.fas {
  width: 10px;
  height: 10px;
}

.actAs {
  height: 90vh;
  background: #20232b;
  overflow: hidden;
  display: flex;
}

.activeAsAChats {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 2rem 1rem 0 1rem;
  width: 25%;
  height: 100%;
}
.activeAsAChats > div {
  width: 100%;
}
.activeAsAChats > div:nth-of-type(1) {
  margin-bottom: 1rem;
  display: flex;
  justify-content: space-between;
}
.activeAsAChats > div:nth-of-type(1) img {
  width: 24px;
  height: 24px;
  -o-object-fit: contain;
     object-fit: contain;
}

.acitveChat {
  background-color: #383838;
  border-radius: 10px;
}

.individualChatContainer {
  overflow: scroll;
  margin-top: 1rem;
}
.individualChatContainer::-webkit-scrollbar {
  display: none;
}
.individualChatContainer > div {
  padding: 0.5rem;
}
.individualChatContainer > div:hover {
  background-color: #383838;
  border-radius: 10px;
}

.individualChat {
  width: 100%;
  height: 64px;
  color: #f6f6fe;
  cursor: pointer;
  display: flex;
  align-items: center;
}
.individualChat > div {
  height: 100%;
}
.individualChat > div:nth-of-type(1) {
  display: flex;
  align-items: center;
}
.individualChat > div:nth-of-type(2) {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex: 1;
}
.individualChat > div:nth-of-type(2) > div:nth-of-type(2) {
  margin-top: 0.2rem;
  color: #868686;
  font-size: 0.8rem;
}
.individualChat > div:nth-of-type(3) {
  display: flex;
  align-items: center;
  margin-top: 0.2rem;
  color: #868686;
  font-size: 0.8rem;
}
.individualChat img {
  width: 32px;
  height: 32px;
  margin-right: 0.8rem;
  border-radius: 50%;
  -o-object-fit: contain;
     object-fit: contain;
}

.individualChatSearch {
  background: #15171c;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  border-radius: 10px;
  padding: 0.4rem;
}
.individualChatSearch input {
  margin: 0 0.2rem;
  color: #f6f6fe;
  border: none;
  width: 100%;
  outline: none;
  background-color: transparent;
}
.individualChatSearch img {
  margin-right: 0.5rem;
}

.welcomePage {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  flex: 1;
  color: #e7ecef;
}
.welcomePage img {
  width: 300px;
  height: 300px;
  -o-object-fit: contain;
     object-fit: contain;
}

.openChat {
  border-radius: 12px;
  background-color: #1d1e24;
  margin: 2rem 1rem 0 1rem;
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.openChatHeader {
  padding: 2rem;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  background: #000000;
  height: 5vh;
  display: flex;
  align-items: center;
}
.openChatHeader .openChatHeaderNameContainer {
  flex: 1;
}
.openChatHeader .openChatHeaderName {
  font-weight: 400;
  font-size: 14px;
  color: #f6f6fe;
}
.openChatHeader img {
  border-radius: 50%;
  background-color: white;
  margin-right: 1rem;
  height: 22px;
  width: 22px;
  -o-object-fit: contain;
     object-fit: contain;
}

.openChatHeaderOptions {
  display: flex;
  align-items: center;
  justify-content: center;
  background: #20232b;
  border-radius: 10px;
  padding: 0.4rem;
  font-size: 14px;
  color: #f6f6fe;
}

.openChatSection {
  overflow: scroll;
  flex: 1;
  color: white;
  font-size: 0.9rem;
  text-transform: capitalize;
  background-color: #1d1e24;
}
.openChatSection::-webkit-scrollbar {
  display: none;
}
.openChatSection > div {
  min-height: 10vh;
  width: 100%;
  display: flex;
  padding-left: 1rem;
  align-items: center;
}
.openChatSection > div > :nth-child(1) {
  height: 2rem;
  width: 2rem;
  border-radius: 50%;
  background: white;
  display: flex;
  align-items: center;
  justify-content: center;
}
.openChatSection > div > :nth-child(1) > img {
  height: 1.5rem;
  width: 1.5rem;
  -o-object-fit: contain;
     object-fit: contain;
}
.openChatSection > div > :nth-child(2) {
  padding: 1.5rem 0rem;
  width: 100%;
  padding-left: 1rem;
}
.openChatSection .openChatSectionAnswer {
  min-height: 10vh;
  padding-left: 1rem;
  width: 100%;
  display: flex;
  align-items: center;
  background-color: #343541;
  opacity: 0.9;
}
.openChatSection .openChatSectionAnswer > :nth-child(1) {
  height: 2rem;
  width: 2rem;
  border-radius: 50%;
}
.openChatSection .openChatSectionAnswer > :nth-child(1) > img {
  height: 2rem;
  width: 2rem;
  -o-object-fit: contain;
     object-fit: contain;
}
.openChatSection .openChatSectionAnswer > :nth-child(2) {
  width: 100%;
  padding: 1.5rem 0rem;
  padding-left: 1rem;
}

.openChatInputContainer {
  width: 100%;
  background-color: #1d1e24;
  height: 15vh;
}

.openChatInput {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 1rem auto;
  background: #15171c;
  width: 90%;
  border-radius: 10px;
}
.openChatInput img {
  width: 28px;
  height: 28px;
  -o-object-fit: contain;
     object-fit: contain;
  margin: 0 0.4rem;
}
.openChatInput input {
  background: transparent;
  width: 100%;
  padding: 1rem;
  border: none;
  outline: none;
  color: #f6f6fe;
}

.actAsRightSection {
  margin: 2rem 1rem 1rem 1rem;
  flex: 1;
}

.actAsRightSectionTopCard {
  padding: 1rem;
  border-radius: 10px;
  background: #5853d6;
  color: #f6f6fe;
}
.actAsRightSectionTopCard > div:nth-of-type(2) {
  margin-top: 1rem;
}
.actAsRightSectionTopCard > div:nth-of-type(2) > div {
  display: flex;
}
.actAsRightSectionTopCard > div:nth-of-type(2) > div > div:nth-of-type(1) {
  font-size: 14px;
  padding: 0.5rem 0;
}

.actAsRightSectionTopCardImg {
  display: flex;
  align-items: center;
}
.actAsRightSectionTopCardImg img {
  width: 32px;
  height: 32px;
  -o-object-fit: contain;
     object-fit: contain;
  background-color: white;
  margin-right: 1rem;
  border-radius: 50%;
}

.actAsRightSectionBottomContent {
  margin-top: 2rem;
  color: #f6f6fe;
}
.actAsRightSectionBottomContent > div:nth-of-type(2) {
  margin-top: 1rem;
}
.actAsRightSectionBottomContent > div:nth-of-type(2) > div {
  height: 50px;
  background: #15171c;
  border-radius: 10px;
  margin: 0.8rem 0;
}/*# sourceMappingURL=actAs.css.map */