.features {
  min-height: 100vh;
  width: 100%;
  background-color: black;
}
.features > :nth-child(1) {
  min-height: 30vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column;
}
.features > :nth-child(1) > :nth-child(1) {
  padding-bottom: 1rem;
  width: 50%;
  font-size: 2.5rem;
  font-weight: 800;
  color: white;
}
.features > :nth-child(1) > :nth-child(2) {
  width: 50%;
  word-spacing: 1px;
  color: #918e8e;
}
.features > :nth-child(2) {
  min-height: 70vh;
  width: 80%;
  margin: auto;
}
.features > :nth-child(2) > :nth-child(1) {
  display: flex;
  justify-content: space-between;
  padding-bottom: 2rem;
}
.features > :nth-child(2) > :nth-child(1) > :nth-child(1) {
  width: 50%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  word-spacing: 1px;
  letter-spacing: 0.5px;
}
.features > :nth-child(2) > :nth-child(1) > :nth-child(1) h6 {
  font-size: 0.9rem;
  text-transform: uppercase;
  height: 2rem;
  background: -webkit-linear-gradient(left, #7049f6, #6bdffa);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.features > :nth-child(2) > :nth-child(1) > :nth-child(1) h3 {
  height: 3rem;
  font-size: 1.6rem;
  color: white;
}
.features > :nth-child(2) > :nth-child(1) > :nth-child(1) p {
  font-size: 0.9rem;
  height: 3rem;
  color: #918e8e;
}
.features > :nth-child(2) > :nth-child(1) > :nth-child(2) {
  width: 50%;
  display: flex;
  justify-content: flex-end;
}
.features > :nth-child(2) > :nth-child(1) > :nth-child(2) img {
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  height: 20rem;
  width: 30rem;
  border-radius: 10px;
}
.features > :nth-child(2) > :nth-child(2) {
  display: flex;
  justify-content: space-between;
  padding-bottom: 2rem;
}
.features > :nth-child(2) > :nth-child(2) > :nth-child(2) {
  width: 50%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  word-spacing: 1px;
  letter-spacing: 0.5px;
}
.features > :nth-child(2) > :nth-child(2) > :nth-child(2) h6 {
  font-size: 0.9rem;
  text-transform: uppercase;
  height: 2rem;
  background: -webkit-linear-gradient(left, #7049f6, #6bdffa);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.features > :nth-child(2) > :nth-child(2) > :nth-child(2) h3 {
  height: 3rem;
  font-size: 1.6rem;
  color: white;
}
.features > :nth-child(2) > :nth-child(2) > :nth-child(2) p {
  font-size: 0.9rem;
  height: 3rem;
  color: #918e8e;
}
.features > :nth-child(2) > :nth-child(2) > :nth-child(1) {
  width: 50%;
  display: flex;
  justify-content: flex-start;
}
.features > :nth-child(2) > :nth-child(2) > :nth-child(1) img {
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  height: 20rem;
  width: 30rem;
  border-radius: 10px;
}
.features > :nth-child(2) > :nth-child(3) {
  display: flex;
  justify-content: space-between;
  padding-bottom: 2rem;
}
.features > :nth-child(2) > :nth-child(3) > :nth-child(1) {
  width: 50%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  word-spacing: 1px;
  letter-spacing: 0.5px;
}
.features > :nth-child(2) > :nth-child(3) > :nth-child(1) h6 {
  font-size: 0.9rem;
  text-transform: uppercase;
  height: 2rem;
  background: -webkit-linear-gradient(left, #7049f6, #6bdffa);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.features > :nth-child(2) > :nth-child(3) > :nth-child(1) h3 {
  height: 3rem;
  font-size: 1.6rem;
  color: white;
}
.features > :nth-child(2) > :nth-child(3) > :nth-child(1) p {
  font-size: 0.9rem;
  height: 3rem;
  color: #918e8e;
}
.features > :nth-child(2) > :nth-child(3) > :nth-child(2) {
  width: 50%;
  display: flex;
  justify-content: flex-end;
}
.features > :nth-child(2) > :nth-child(3) > :nth-child(2) img {
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  height: 20rem;
  width: 30rem;
  border-radius: 10px;
}
.features > :nth-child(2) > :nth-child(4) {
  display: flex;
  justify-content: space-between;
  padding-bottom: 2rem;
}
.features > :nth-child(2) > :nth-child(4) > :nth-child(2) {
  width: 50%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  word-spacing: 1px;
  letter-spacing: 0.5px;
}
.features > :nth-child(2) > :nth-child(4) > :nth-child(2) h6 {
  font-size: 0.9rem;
  text-transform: uppercase;
  height: 2rem;
  background: -webkit-linear-gradient(left, #7049f6, #6bdffa);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.features > :nth-child(2) > :nth-child(4) > :nth-child(2) h3 {
  height: 3rem;
  font-size: 1.6rem;
  color: white;
}
.features > :nth-child(2) > :nth-child(4) > :nth-child(2) p {
  font-size: 0.9rem;
  height: 3rem;
  color: #918e8e;
}
.features > :nth-child(2) > :nth-child(4) > :nth-child(1) {
  width: 50%;
  display: flex;
  justify-content: flex-start;
}
.features > :nth-child(2) > :nth-child(4) > :nth-child(1) img {
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  height: 20rem;
  width: 30rem;
  border-radius: 10px;
}/*# sourceMappingURL=Features.css.map */