.footer {
  height: 50vh;
  width: 100%;
  & > :nth-of-type(1) {
    height: 65vh;
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: auto;
    & > :nth-of-type(1) {
      height: 15vh;
      width: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
      & > :nth-of-type(1) {
        height: 55px;
        width: 55px;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        border: 2px solid rgb(181, 178, 178);
        & img {
          height: 45px;
          width: 45px;
          object-fit: contain;
        }
      }
    }
    & > :nth-of-type(2) {
      height: 12vh;
      width: 50%;
      font-size: 1.5rem;
      color: #374151;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    & > :nth-of-type(3) {
      height: 12vh;
      width: 60%;
      display: flex;
      align-items: center;
      text-align: center;
      color: #797280;
      font-size: 1.2rem;
    }
    & > :nth-of-type(4) {
      height: 12vh;
      width: 35%;
      display: flex;
      justify-content: center;
      align-items: center;
      & button {
        padding: 12px 30px;
        color: white;
        font-weight: 600;
        border: none;
        outline: none;
        -webkit-box-shadow: 8px 8px 3px 3px rgba(0, 0, 0, 1);
        -moz-box-shadow: 8px 8px 3px 3px rgba(0, 0, 0, 1);
        box-shadow: 8px 8px 3px 3px rgba(0, 0, 0, 1);
        background-color: #df6866;
        border-radius: 12px;
        &:hover {
          background-color: #8f5553;
        }
      }
    }
  }
  & > :nth-of-type(2) {
    height: 25vh;
    width: 100%;
  }
}
