.navbar {
  position: absolute;
  color: white;
  top: 0;
  left: 0;
  z-index: 10;
  width: 100%;
  min-height: 10vh;
}
.navContent {
  width: 80%;
  margin: auto;
  display: flex;
  align-items: center;
  height: 10vh;
  justify-content: space-between;
  & > div {
    display: flex;
  }
  .navLinks {
    display: flex;
    ul {
      display: flex;
      .active {
        color: rgb(122, 122, 122);
      }
      li {
        cursor: pointer;
        margin-right: 2rem;
        display: flex;
        align-items: center;
        transition: color 0.1s linear;
        &:hover {
          color: rgb(122, 122, 122);
        }
      }
    }
  }
}

#logo {
  cursor: pointer;
  margin-right: 3rem;
}
.login-button {
  cursor: pointer;
  & button {
    border-radius: 15px;
    outline: none;
    border: none;
    background: white;
    color: black;
    align-items: center;
    display: flex;
    padding: 0.6rem 1rem;
    img {
      height: 16px;
      width: 16px;
      margin: 0 0.5rem 0 0;
      object-fit: contain;
      transform: rotate(0deg);
      animation: rotateLogin 5s linear infinite;
    }
  }
}

// nav modal

.navModal {
  background: #100f0f;
  height: auto;
  border: 1px solid rgb(27, 27, 27);
  padding: 1rem 0;
  .navModalContent {
    width: 90%;
    margin: auto 0 auto auto;
    display: flex;
  }
}

.navModalImage {
  flex: 0.6;
  width: 100px;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}
.navModalLinks {
  flex: 1.4;
}

.selectedNavContent {
  display: flex;
  flex-wrap: wrap;
  margin-left: 2rem;
  & > div {
    display: flex;
    margin-left: 1rem;
    transition: all 0.3s linear;
    margin: 0.5rem 0;
    padding: 0.8rem;
    transform: translatex(10%);
    opacity: 0;
    animation: transform 0.4s ease-in-out forwards 0.1s;
    &:hover {
      background-color: #181818;
      border-radius: 10px;
    }
  }
}

.selectedNavContentImg {
  width: 2rem;
  height: 2rem;
}

.selectedNavContentSubHeading {
  & > :nth-of-type(2) {
    width: 80%;
    font-size: 12px;
  }
}

@keyframes transform {
  to {
    transform: translateX(0);
    opacity: 1;
  }
}
@keyframes rotateLogin {
  to {
    transform: rotate(360deg);
  }
}
