@import "./../../theme/theme";
.headerNav {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10000;
  width: 100%;

  & > div {
    width: 90%;
    margin: auto;
    display: flex;
    height: 15vh;
  }
}

.navLogo {
  width: 100px;
  height: 100px;
  & img {
    width: 100px;
    height: 100px;
    object-fit: contain;
  }
}
.navContent {
  flex: 1;
  margin: 0 1rem;
  .navLinks {
    height: 100%;
    display: flex;
    align-items: center;
    li {
      cursor: pointer;
      margin: 0 1rem;
    }
  }
}
.navContactUs {
  background: -webkit-linear-gradient(right, #ef7bb6, #8e57f7);
  margin-right: 5px;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.navSignUp {
  display: flex;
  padding: 0 2rem;
  align-items: center;
  button {
    background-color: $chat-page-background-secondary;
    color: white;
    border: none;
    outline: none;
    padding: 10px 16px;
    border-radius: 18px;
  }
}
